body {
    height: 100vh;
}

nav {
    background-color: #333;
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #f1f1f1;
    color: #333;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/**/

.showcase {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
}

.showcase-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    height: 80%;
    transition: transform 0.5s;
}

.showcase-item {
    min-width: 31.5%;
    height: 80%;
    margin: 0 10px;
}

.showcase-btn {
    position: absolute;
    bottom: 10px;
    width: 80px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.showcase-btn-prev {
    left: 10px;
}

.showcase-btn-next {
    right: 10px;
}