.statusContainer {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0.5em 0.5em 1em;
  padding: 1em;
  width: 60%;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 3px 6px var(--shadow-color);
}

.balance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 1em 0.5em 0.5em;
  padding: 1em;
  width: 30%;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 3px 6px var(--shadow-color);
}

.value {
  color: var(--secondary-color);
  text-align: center;
}

@media screen and (max-width: 992px) {
  .value {
    font-size: 150%;
  }
}

@media screen and (max-width: 600px) {
  .value {
    font-size: 115%;
  }
}