@import url(color_theme.css);

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

h1 {
	font-weight: 700;
	font-size: 2.5em;
	color: var(--main-color);
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	color: var(--main-color-tint);
	font-size: 1.5em;
	margin: 8px;
	margin-bottom: 4px;
}

h2 {
	font-size: 1.8em;
}

ul {
	list-style-type: square;
}

ol {
	list-style-type: upper-roman;
}

ul,
ol {
	list-style-position: inside;
}

a {
	color: var(--second-color);
}

a:hover {
	color: var(--second-color-tint);
}

img {
	transition: opacity 0.1s ease-in-out;
}

img:hover {
	opacity: 0.5;
}

.grid-container {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 10px;
	margin: 0 auto;
}

.poetry-container pre {
	word-spacing: -2px;
	line-height: 1.3;
}

.poetry-container pre b {
	letter-spacing: 2px;
}

.footer-container {
	position: fixed;
	bottom: 32px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.poetry-container {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
}

.poetry-container>* {
	flex-grow: 1;
}

.poetry-container>div {
	flex: 1;
}

.poetry-container>pre {
	white-space: pre-wrap;
}


.poetry-container h2 {
	width: 100%;
	text-align: center;
}

.poetry-container.vertical {
	flex-direction: column;
}

.poetry-container.horizontal {
	width: 70%;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}


.avatar {
	border-radius: 50%;
	height: 128px;
}