:root {
  --card-bg: #f2f2f2;
  --card-shadow: rgba(0, 0, 0, 0.25);
  --hidden-card-bg: rgb(230, 230, 230);
  --text-black: black;
  --text-red: red;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  margin: 0;
  font-family: 'Lexend Exa', sans-serif;
  -webkit-font-smoothing: antialiased;
}