* {
	box-sizing: border-box;
	height: 100%;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 4em auto 4em;
	grid-template-areas:
		"header header header header"
		"menu article article article"
		"footer footer footer footer";
	gap: 10px;
	padding: 10px;
}

.header {
	grid-area: header;
	background-color: lightblue;
	padding: 20px;
	text-align: center;
}

.menu {
	grid-area: menu;
	background-color: lightgreen;
	padding: 20px;
	text-align: center;
}

.article {
	grid-area: article;
	background-color: lightpink;
	padding: 20px;
	text-align: center;
}

.footer {
	grid-area: footer;
	background-color: lightcoral;
	padding: 20px;
	text-align: center;
}

@media (max-width: 800px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 3em 1fr 2fr 3em;
		grid-template-areas:
			"header"
			"menu"
			"article"
			"footer";
	}
}
